<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
            <h2>Reset your password</h2>
            <div class="panel panel-default content-middle">
                <div class="panel-body">
                    <form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" novalidate autocomplete="off">
                        <fieldset>
                            <div class="form-group" show-errors>
                                <label>Enter your account username</label>
                                <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" placeholder="Username" lowercase required autofocus>
                                <div ng-messages="vm.forgotPasswordForm.username.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Enter a username.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>